<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles/style.css">
</head>
<body>
  <%- include('../partials/header'); %>
  <h1>Our Products</h1>
  
  <div class="product-list">
    <% products.forEach(product => { %>
    <div class="product">
      <img
        src="images/j2prime.jpg"
        alt="<%= product.serie %>"
      />
      <h3><%= product.serie %></h3>
      <p>Price: <%= product.harga %></p>
    </div>
    <% }) %>
  </div>
  <%- include('../partials/footer'); %>
    
</body>
</html>
